name: Deploy via SSH

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "index.html"
      - "public/**"
      - "package.json"
      - "vite.config.ts"
      - ".github/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Build website
        run: |
          npm install
          npm run build

      - name: Copy files via SSH
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "dist/*"
          target: ${{ vars.VPS_TARGET_DIR }}
          strip_components: 1
